.adm--products {


    &__table {



        &--row {

            &__image {
                width: 120px;
                height: 120px;

                img{
                    width: 100%;
                }
            }

            &__expand{
                @include flex(flex-start, flex-start);
                flex-direction: column;

                &--img{
                    @include flex(flex-start, center);

                    &__item{
                        width: 120px;
                        padding: 10px;
                    }
                }

                &--upload{
                    width: 100%;
                }
            }
        }
    }
}