.cart {
    padding: 20px;
    background-color: $color-bg-white;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

    &__info {
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
        height: 100vh;

        &--card {
            height: 100%;
            overflow-y: scroll;
        }

        &--item {
            width: 100%;
            height: 120px;
            padding: 10px;
            margin: 1rem 0;
            @include flex(space-between, center);



            &__img {
                width: 80px;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            &__title {
                width: 200px;
                height: 100%;
                @include flex(center, center);

                span {
                    font-size: 1.25rem;
                }
            }

            &__quantity {
                @include flex(flex-start, center);

                &--minus,
                &--plus {
                    @include flex(center, center);
                    width: 30px;
                    height: 30px;
                    border: 1px solid #999;
                    cursor: pointer;
                }

                &--info {
                    height: 30px;
                    width: 50px;
                    @include flex(center, center);
                    border-top: 1px solid #999;
                    border-bottom: 1px solid #999;
                }
            }
        }


    }

    &__payment {
        height: 100%;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;


        &--item{
            @include flex(space-between, center);


            &~&{
                margin-top: 10px;
            }

            &__title{
                font-size: 1rem;
                font-weight: bold;

            }
            

            &.sub-total &__title{
            }

            &.sub-total &__detail{
                color: $color-text-gray;
            }
        }
    }
}